* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #f7f9fd;
  }
  .wrapper {
    width: 100%;
    font-size: 16px;
    max-width:700px;
    margin: 16px auto;
  }
  .container {
    width: 100%;
  }
  .sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper h3 {
    color: #363d55;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .container input {
    display: block;
    width: 100%;
    padding: 12px 6px;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 12px;
  }
  .container input:focus {
    border-color: #587ef4;
  }
  .total-amount-container,
  .user-amount-container {
    background-color: #ffffff;
    padding: 20px 14px;
    border-radius: 6px;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  }
  .output-container {
    background-color: #587ef4;
    color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 32px 0;
    padding: 20px;
  }
  .output-container p {
    font-weight: 500;
    margin-bottom: 12px;
  }
  .output-container span {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
  }
  .submit {
    font-size: 16px;
    margin-top: 14px;
    background-color: #587ef4;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
  }
  .list {
    background-color: #ffffff;
    padding: 28px 20px;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 12px;
  }
  .sublist-content {
    width: 100%;
    border-left: 0.3em solid #587ef4;
    margin-bottom: 12px;
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
  }
  .product {
    font-weight: 500;
    color: #363d55;
  }
  .amount {
    color: #414a67;
    margin-left: 20%;
  }
  .icons-container {
    width:80px;
    margin: 20px;
    align-items: center;
  }
  .product-title {
    margin-bottom: 16px;
  }
  .hide {
    display: none;
  }
  .error {
    color: #ff465a;
  }
  .edit {
    margin-left: auto;
  }
  .edit,
  .delete {
    background: transparent;
    cursor: pointer;
    margin-right: 24px;
    border: none;
    color: #587ef4;
  }