@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.cal_wrapper {
  /* width: 100%;
  max-width: 300px; */
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.calcutation_box,
.calcutation_box input {
  width: 100%;
}
.calcutation_box input {
  /* background-color: #000; */
  /* color: #fff; */
  padding: 20px;
  border-radius: 8px 8px 0 0;
  border: none;
}
.calcutation_box input:focus-visible {
  outline: none;
}
.top_btn {
  display: flex;
  column-gap: 20px;
  margin-top: 16px;
}
/* .top_btn button {
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
} */
button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  color:#0a0a0a;
}
.bottom_btn,
.number_btn {
  display: flex;
  column-gap: 20px;
}
